/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.fonte_titulo { 
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #ffcc00;
    padding: 2%;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

.dropdown {
    text-align: center;
    margin: 20px;
}

.character-display {
    text-align: center;
    padding: 20px;
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.character-display h2 {
    font-family: "Scope One", serif;
    font-size: 1.8rem;
    color: #ff5722;
    margin: 10px 0;
}

.character-display p {
    font-size: 1rem;
    color: #555;
}
